.description {
  position: absolute;
  font-size: calc(var(--sizeindex) * 0.8);
  top: 20vh;
  left: 8vw;
  max-width: 24vw;
  transition: opacity var(--transition), transform var(--transition);

  p {
    opacity: .9;
    transition: transform var(--transition);
    transition-duration: 3s;
  }

  &.hidden {
    opacity: 0;
    transform: translateY(5vh);

    p {
      transform: translateY(2vh);
    }
  }
}

.logo {
  font-size: calc(var(--sizeindex) * 3.6);
  font-weight: 900;
  display: inline-block;
  background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}